---
import Layout from "@/layouts/Layout.astro";
import { publications } from "@/data/publications";
import ArticleList from "@/components/ui/ArticleList.astro";

const ALL_PAPERS = publications;
---

<Layout title="Publications">
  <div class="prose max-w-none">
    <ArticleList listTitle="Publications" listItems={ALL_PAPERS} />
  </div>
</Layout>
